
.head {
    width: 668px;
    height: 344px;
    display: flex;
    justify-content: center;
    background-color: rgb(6 14 28);
    color: #5498a9;
    align-items: center;
    border-radius: 13px;
}
